<!-- Introduction -->
<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span
        class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">INTRODUCTION</span>
      <span
        class="mt-2 block text-2xl text-center text-accent-700 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">Why
        did I create this project?</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <p>
      Being passionate about programming, I wanted to deepen my knowledge in full-stack web development. For this, I
      bought the excellent book <strong>ASP.NET Core 5 and Angular - Fourth Edition</strong> by <strong>Valerio De
        Sanctis</strong> which covers the
      following elements :
    </p>
  </div>
  <div class="mt-4 mx-auto">
    <ul class="list-disc ml-4">
      <li>Implement a Web API with ASP.NET Core and consume it with Angular using RxJS observables.</li>
      <li>Set up an SQL database server using a local instance or a cloud data store.</li>
      <li>Perform C# and TypeScript debugging using Visual Studio 2019.</li>
      <li>Create TDD and BDD unit tests using xUnit, Jasmine, and Karma.</li>
      <li>Perform DBMS structured logging using third-party providers such as SeriLog.</li>
      <li>Deploy web apps to Windows and Linux web servers, or Azure App Service, using IIS, Kestrel, and nginx.</li>
    </ul>
  </div>
  <div class="mt-6 mx-auto">
    <tw-alert [type]="'info'" [appearance]="'border'">
      <span twAlertTitle>Information</span>
      <strong>Valerio De Sanctis</strong> is a skilled IT professional with 20 years of experience in lead programming,
      web-based
      development, and project management using ASP.NET, PHP, Java, and JavaScript-based frameworks. He held senior
      positions at a range of financial and insurance companies, most recently serving as Chief Technology and Security
      Officer at a leading IT service provider for top-tier insurance groups.
    </tw-alert>
  </div>

  <div class="mt-6 mx-auto">
    <p>
      This book is very formative for developers who want to learn about ASP.NET Core 5 and Angular and is a good
      starting point if you want to learn these technologies. If you are interested, don't hesitate to buy it 😉<br>
      After reading this book, I wanted to take the context of the World Cities project used in this book to create an
      ASP.NET Core 5 - Angular application with Tailwind and Clean Architecture.
    </p>
  </div>
