<div class="relative mt-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-prose mx-auto">
    <h1>
      <span class="block text-base text-center text-primary-500 font-semibold tracking-wide uppercase">TECHNOLOGY</span>
      <span class="mt-2 block text-2xl text-center text-accent-700 dark:text-gray-100 leading-8 font-extrabold tracking-tight sm:text-2xl">What libraries are used?</span>
    </h1>
  </div>
  <div class="mt-6 mx-auto">
    <tw-alert [type]="'info'" [appearance]="'border'">
      <span twAlertTitle>Information</span>
      It is recommended that you regularly update your project packages. Keeping your Angular application up to date will allow you to take advantage of new cutting-edge features, as well as optimizations and bug fixes.
    </tw-alert>
  </div>

  <h3 class="mt-6 mx-auto leading-8 font-extrabold">Front</h3>
  <div class="mt-4 mx-auto">
    <ul class="list-disc ml-4">
      <li>Angular: <strong class="text-primary-500">12.1.4</strong></li>
      <li>Angular Material: <strong class="text-primary-500">12.1.4</strong></li>
      <li>Tailwind: <strong class="text-primary-500">2.2.9</strong></li>
    </ul>
  </div>

  <h3 class="mt-6 mx-auto leading-8 font-extrabold">Back</h3>
  <div class="mt-4 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <ul class="list-disc ml-4">
        <li>Ardalis.Specification: <strong class="text-primary-500">5.1.10</strong></li>
        <li>AutoMapper: <strong class="text-primary-500">10.1.1</strong></li>
        <li>FluentValidation: <strong class="text-primary-500">10.1.0</strong></li>
        <li>MediatR: <strong class="text-primary-500">9.0.0</strong></li>
      </ul>
      <ul class="list-disc ml-4">
        <li>Microsoft.EntityFrameworkCore.InMemory: <strong class="text-primary-500">5.0.6</strong></li>
        <li>Microsoft.EntityFrameworkCore.SqlServer: <strong class="text-primary-500">5.0.6</strong></li>
        <li>Swashbuckle.AspNetCore: <strong class="text-primary-500">6.1.4</strong></li>
        <li>Swashbuckle.AspNetCore.Swagger: <strong class="text-primary-500">6.1.4</strong></li>
      </ul>
    </div>
  </div>
</div>